/*
    Autrice: Lucielle Voeffray
    Date: 12.01.2024
    Description: CSS pour le projet du cours 293
*/

/*Help*/

/*Put borders on div if needed for debug*/
/* div {
    border-color: black;
    border-style: solid;
} */

/*Général*/

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width: 323px;
    height: 200px;
    margin: 20px;
    margin-bottom: 0px;
}

img.transition {
    width: 600px;
    height: auto;
}

img.science {
    width: 500px;
    height: 300px;
}

#flag {
    width: 300px;
    height: 300px;
}

#Marsha_P {
    width: auto;
    height: auto;
}

.transFlag {
    border-color: blanchedalmond;
    border-style: solid;
}

.shadow {
    box-shadow: 10px 5px 5px grey;
}

p {
    margin: 20px;
}

p.sourceIMG {
    margin-top: 0px;
}

body {
    background-color: #f5a9b8;
}

.center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

a:hover {
    color: #9c59d1;
}

a:visited {
    color: #2c2c2c;
}

h2 {
    margin-top: 28px;
    margin-left: 10px;
    margin-bottom: 0px;
}

/*Header*/

header {
    width: 70%;
    background-image: url(../images/drapeau_trans.png);
    background-size: 170px;
    height: 170px;
    border-color: blanchedalmond;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 28px;
    margin-left: 10px;
    margin-bottom: 0px;
}

nav {
    text-align: center;
    margin-top: 25px;
    font-size: 17px;
}

/*Contenu*/

article {
    text-align: justify;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

article#CO {
    padding-right: 10%;
}

article.left {
    flex-direction: row-reverse;
}

.alignRight {
    margin-left: 63%;
}

#currentPage {
    text-decoration: underline double;
    color: black;
}

.hLinks a {
    text-decoration: none;
    color: black;
}

#manif {
    width: 200px;
    height: 323px;
}

#block {
    width: 600px;
    height: 370px;
}

.centerTxt {
    text-align: center;
}

#transition {
    margin-top: 30px;
}

.centerIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Sources*/

.sources {
    background-color: #5bcefa;
    padding: 10px;
    padding-top: 1px;
}

hr {
    border-top: 1px;
}

h3 {
    text-decoration: underline;
    font-size: larger;
}

/*Footer*/
footer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-top-color: #2c2c2c;
    border-top-width: 2px;
    border-top-style: solid;
    margin-top: 30px;
}

/*Quelques associations*/
img.profileTeam {
    padding: 10px;
}

img#ekivock {
    max-width: 400px;
    height: 200px
}

h5.teamName {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.backgroundTeam {
    border-radius: 20px;
    background-color: #5BCEFA;
    display: flex;
    margin: 20px;
    margin-bottom: 10px;

}

.backgroundTeam:hover {
    border-radius: 20px;
    background-color: #FFFFFF;
    display: flex;
    margin-bottom: 10px;
    width: fit-content;
    height: fit-content;
}

div.centerTeam {
    margin-left: 20%;
    padding: 10px;
  }

a.teamL {
    text-decoration: none;
}

/*En général pour les Téléphones et écrans verticaux*/
@media screen and (max-width: 1000px) {
    .flex {
        flex-direction: column;
    }

    article.left {
        flex-direction: column;
    }

    header {
        background-image: url(../images/drapeau_trans.png);
        background-size: 170px;
        height: 350px;
    }

    .alignRight {
        margin-left: 6%;
    }

    article {
        text-align: center;
    }
}


/*Pour les écrans très minces*/
@media screen and (max-width: 385px) {
    .flex {
        flex-direction: column;
    }

    article.left {
        flex-direction: column;
    }

    header {
        background-image: url(../images/drapeau_trans.png);
        background-size: 170px;
        height: 380px;
    }

    .alignRight {
        margin-left: 6%;
    }

    article {
        text-align: center;
    }

    .sources {
        width: 300px;
    }
}
